body {
  background-color: #ffe3a1c5;
  user-select: none;
  overflow: hidden;
}

.center {
  text-align: center;
}

#btn-click-helado {
  transition: all 0.1s ease-in-out;
  position: relative;
  width: 100%;
  margin-top: 10%;
}

#btn-click-helado:hover {
  cursor: pointer;
  transform: scale(1.07);
}

#btn-click-helado:active {
  opacity: 0.95;
  transform: scale(0.93);
}

#btn-click-helado img {
  width: 150px;
}

.texto-helados-por-segundo {
  font-family: "Fredoka One", cursive;
  color: #fc777b;
}

.btn-edificios {
  background: rgb(252, 145, 148);
  background: radial-gradient(
    circle,
    rgba(252, 145, 148, 1) 0%,
    rgba(253, 202, 204, 1) 100%
  );
  border: 4px solid rgb(252, 145, 148);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  /* display: flex; */
}

.btn-edificios:hover {
  opacity: 0.93;
  cursor: pointer;
  transform: scale(1.05);
}

.btn-edificios:active {
  opacity: 0.93;
  cursor: pointer;
  transform: scale(0.95);
}

.btn-edificios-texto {
  font-family: "Fredoka One", cursive;
  color: #2e2e2e;
  text-align: start;
  margin-left: 22%;
  margin-bottom: 0;
}

.btn-edificios-nombre {
  font-size: 20px;
  color: #2e2e2e;
}

.span-cantidad-edificios {
  font-size: 48px;
  color: #2e2e2e;
  order: 2;
  margin-right: 10px;
}

.img-btn-edificios {
  height: 64px;
  width: 64px;
  top: 5px;
}

#contenedor-botones-edificios {
  height: 77vh;
  overflow: auto;
}

#contenedor-botones-mejoras {
  height: 20vh;
  overflow: auto;
}

.btn-mejoras {
  border: 2px solid black;
  height: 64px;
  width: 64px;
  background-color: #d060ec;
  display: inline-block;
  margin-left: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.btn-mejoras:hover {
  transform: scale(1.05);
  opacity: 0.93;
}

.btn-mejoras:active {
  opacity: 0.93;
  transform: scale(0.95);
}

.btn-mejoras img {
  height: 60px;
  width: 60px;
}

.contenedor-numero-helado {
  font-weight: bold;
  color: #fff;
  width: 200px;
  height: 20px;
  font-size: 24px;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: "Fredoka One", cursive;
  pointer-events: none;
}

.animacion-helado {
  transition: all 1.1s;
  animation: animacion-helado 1.1s infinite linear;
}

@keyframes animacion-helado {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 0;
    transform: translate(0px, -100px);
  }
}

/*TOOLTIPS*/
.tooltips {
  min-width: 350px;
  transform: translate(165%, -50%);
  padding: 10px 20px;
  color: #000000;
  background-color: #ff99ff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  border: 1px solid #ff66ff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.tooltips .left i {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

.tooltips .left i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #ff99ff;
  border: 1px solid #ff66ff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
/*TOOLTIPS*/
